<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Will you be a successful influencer?</h1>
    <ul>
        <li><a href="/api/v1/predict?lang=en">Predict Revenue</a></li>
        <li><a href="/api/v1/retrain?lang=en">Retrain Model</a></li>
    </ul>
    <div>
        <a href="/?lang=en">English</a>
        <a href="/?lang=es">Español</a>
        <a href="/?lang=ja">日本語</a>
    </div>
</body>
</html>
